[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/erneszt
[access "refs/for/refs/*"]
	read = group user/erneszt
	push = group user/erneszt
	label-Code-Review = -2..+2 group user/erneszt
	label-Verified = -1..+1 group user/erneszt
	rebase = group user/erneszt
	removeReviewer = group user/erneszt
	submit = group user/erneszt
[access "refs/heads/*"]
	read = group user/erneszt
	create = group user/erneszt
	push = +force group user/erneszt
	pushMerge = group user/erneszt
[access "refs/tags/*"]
	push = group user/erneszt
	push = +force group user/erneszt
